@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* home start */
#mainContainer {
  font-family: Poppins;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.leftText,
.rightText {
  width: 47%;
}

.sealogText {
  color: #ff0b34a4;
}

.topImage,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
}

.customerSupportContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.customerSupportContainer h1 {
  font-weight: 700;
}

.customerSupportSubContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 0;
}

.groupServiceText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.icons {
  font-size: 30px;
  color: grey;
  cursor: pointer;
}

.groupTextDescription {
  display: flex;
  flex-direction: column;
}

.arrowLink {
  margin: 20px 0px;
}

.companyToolsContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.companyToolsContainer h1 {
  font-weight: 700;
  width: 40%;
}

.companyToolsSubContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 0;
}

@media (max-width: 900px) {
  #mainContainer {
    padding: 50px 5px 0 5px;
  }

  .topTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .leftText,
  .rightText {
    width: 90%;
  }

  .customerSupportContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .customerSupportSubContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .groupServiceText {
    width: 80%;
  }

  .customerSuport {
    margin: 30px 0 30px 0;
  }

  .companyToolsContainer {
    padding: 40px 0;
  }

  .companyToolsContainer h1 {
    font-weight: 700;
    width: 100%;
    margin-top: 50px;
  }

  .companyToolsSubContainer {
    display: flex;
    flex-direction: column;
   
  }

  .airCargaoService {
    margin: 30px 0 30px 0;
  }
}
/* home end */


/* CustomerCare page */
/* customerCareContainer  */

.customerCareContainer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 64px;
  padding: 10px 20px;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 64px;
    
    h1{
      margin-top: 80px;
    }
}
}

.customerCareLeftContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customerCareContainer h1{
  color: #ff0b34a4;
  font-size: 3rem;
}

.customerCareContainer .serviceH2{
  color: #ff0b34a4;
  font-size: 50px;
}

.customerCareContainer button{
  margin: 20px 0;
  border: none;
  background-color: orange;
  padding: 10px;
  color: #FFFFFF;
  font-size: 24px;
  border-radius: 5px;
  
}
.customerCareContainerimg{
  width: 100%;
}

/* ABOUT PAGE */

.aboutContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
padding: 0 2%;
  @media screen and (max-width: 900px) {
   
    
    h1{
      margin-top: 80px;
    }
}
}
.aboutContainer .leftContainer{
  width: 100%;
  height: 50vh;
  background-image: url(../../assets/topCar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: opacity(70%);
}

.leftContainer h1 {
  color: #FFFFFF;
}
.aboutContainer .rightContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightContainer .contenContainer{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.aboutContainer .rightContainer img{
  width: 500px;
}